

    .form-title {
        margin: 16px 8px;
        height: 60px;
        h2 {
            color: var(--white);
            font-weight: 800;
            font-size: 28px;
            font-style: italic;
            text-transform: uppercase;

        }
    }
    .form-section {
        width: 100%;
        padding: 8px 8px;
        margin: 2px 0px;
        h3 {
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
            color: var(--white);
            font-style: italic;
        }
    }
    .circ-field {
        margin-top: 0.2rem;
        width: 100%;
        height: 54px;
        form {
            height: 100%;
            width: 100%;
            padding: 0px 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            select {
                border-radius: 10px;
                padding: 0px 8px;
                width: 98%;
                font-weight: 600;
                color: var(--primary);
                background: var(--secondary);
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 32px;
        input {
            margin: 4px;
            height: 54px;
            background: var(--secondary);
            border: 2px solid var(--lighter);
            border-radius: 10px;
            padding: 0px 8px;
            font-weight: 600;
            color: var(--primary);
        }
        input::placeholder {
            color: var(--primary);
            opacity: 0.8;
        }
        input.f_nac {
            min-width: 90%;
        }
        select {
            margin: 4px 2px;
            border-radius: 10px;
            padding: 0px 8px;
            height: 54px;
            width: 98%;
            font-weight: 600;
            color: var(--primary);
            background: var(--secondary);
            option {
                font-weight: 600;

            }
        }
        input.disabled {
            background: grey;
        }
        .input-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            input {
                max-width: 40%;
            }
            .buttons {
                max-width: 50%;
                margin: 0px 0px;
                padding: 0px 10px;
                button {
                    margin: auto 0px;
                }
            }
            .checked {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 2rem;
            }
        }
        .discounts {
            margin-top: 10px;
            height: 44px;
            width: 100%;
            display: flex;
            flex-direction: row;
            .partner{
                width: 85%;
                p {
                    justify-content: center;
                    margin: auto 0px;
                    color: var(--white);
                    font-size: 18px;
                }
            }
            .checkbox {
                width: 10%;
                display: flex;
                justify-content: center;
                p-checkbox {
                    margin: auto 0px;
                }
            }

        }
        .buttons {
            padding: 1.5rem 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button {
                width: 200px;
                height: 54px;
                background: var(--secondary);
                color: var(--primary);
                border-radius: 15px;
                font-weight: 600;
                font-size: 18px;
            }
            button:hover {
                border: solid 2px var(--secondary);
                background: var(--primary);
                color: var(--secondary);
            }
        }
    }



@media (min-width: 800px) {
    #regForm {
        max-height: 120vh;
    }
    .form-title {
        h2 {
            font-size: 40px;
        }
    }
    .form-section {
        h3 {
            font-style: italic;
        }

    }

    swiper-container {
        height: 75% !important;
    }
    .circ-field{
        form {
            padding: 0px 20%;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20%;
        select.genre, select.talle {
            width: 99%;
        }



    }
}

@media (min-height: 500px) and (max-height: 666px){
    swiper-container {
        height: 100% !important;
    }
}
