<div class="wrapper">
    <div *ngIf="loading" class="overlay">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration="1.5s"></p-progressSpinner>
    </div>
    <div class="card">
        <div class="header">
            <h2>{{paymentStatusString}}</h2>
            <h4>{{runner.name}}, gracias por participar!</h4>
            <p *ngIf="!approved">Tu pago esta siendo procesado, te notificaremos a la direccion de mail <strong>{{mail}}</strong> una vez que se haya acreditado. Debajo puedes ver tu numero de corredor, pero recuerda que si el pago no se acredita en las proximas 48hs el mismo puede cambiar. En caso de que tengas dudas o consultas puedes escribirnos a <a href="https://api.whatsapp.com/send?phone=542995817788&text=%C2%A1Hola%21+MMRUN" target="_blank">este numero</a></p>
            <p *ngIf="approved">Ya recibimos tu pago! Debajo puedes ver tu numero de corredor. Si tienes consultas o dudas nos puedes escribir a <a href="https://api.whatsapp.com/send?phone=542995817788&text=%C2%A1Hola%21+MMRUN" target="_blank">este numero</a></p>
            
        </div>
        <div class="runner-number">
            <h3>Corredor Numero</h3>
            <h1>{{runner.runnerNumber}}</h1>
        </div>
        <div class="logo">
            <img src="../../../assets/images/MMR2022/Logo----Blanco-con-rosa-PNG.png" alt="">
        </div>
    </div>
</div>
