.m-toolbar {
    position: sticky;
    height: 80px;
    padding: 0px 4px;
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    .m-toolbar-icon {
        height: 100%;
        width: 80px;
        padding: 8px 8px;
        display: flex;
        justify-content: center;
        ion-icon {
            margin: auto;
            width: 48px;
            height: 48px;
        }
    }
}