<div class="wrapper">
    <!-- <div *ngIf="loading" class="overlay">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration="1.5s"></p-progressSpinner>
    </div> -->
    <div class="card">
        <div class="header">
            <h2>Participacion Confirmada</h2>
            <h4>{{name}}, gracias por participar!</h4>
            <p>Ya registramos to inscripcion a la caminata. Recibiras un mail con la confirmación. En caso de que necesites asistencia adicional no dudes en escribirnos a <a href="mailto:marimenucorun.22@gmail.com" target="_blank">marimenucorun.22@gmail.com</a></p>
        </div>
        <div class="runner-number">
            <h3>Inscrpcion Numero</h3>
            <h1>{{id}}</h1>
        </div>
        <div class="logo">
            <img src="../../../assets/images/MMR2022/Logo----Blanco-con-rosa-PNG.png" alt="">
        </div>
    </div>
</div>
