<div class="wrapper">
    <!-- <img class="img-overlay" src="../../../../../assets/images/MMR2022/fondo13.jpg"> -->
    <div class="overlay"></div>

    <div class="section-1">
        <div class="title-container">
            <div class="title-logo">
                <img src="../../../../../assets/images/MMR2022/Logo----Blanco-PNG.png" alt="">
            </div>
            <h2>{{tituloEncabezado}}</h2>
            <br>
            <p>{{textoEncabezado}}</p>
            <button (click)="goToForm('regForm')">Inscribite</button>
            <div class="social-media">
                <div class="left-side"></div>
                <div class="logo-1"><ion-icon slot="start" color="light" name="logo-instagram"></ion-icon></div>
                <div class="right-side"></div>
            </div>
            
        </div>
    </div>

    <div class="section-desktop">
        <div class="overlay-clipped"></div>
        <div class="sd-content">
            <div class="sd-logo"><img src="../../../../../assets/images/MMR2022/Logo----Blanco-con-rosa-PNG.png" alt=""></div>
            <div class="title-container">
                <h2>{{tituloEncabezado}}</h2>
                <br><br>
                <p>{{textoEncabezado}}</p>
                <br>
                <button (click)="goToForm('regForm')">Inscribite</button>
            </div>
        </div>
        
    </div>
</div>