<div class="wrapper">
    <img class="img-overlay" src="https://images.pexels.com/photos/1821694/pexels-photo-1821694.jpeg">
    <div class="overlay"></div>

    <div class="section-1">
        <div class="title-container">
            <div class="title-logo">
                <img src="../../assets/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">
            </div>
            <h2>Estas Listo Para la segunda Vuelta?</h2>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aut rerum sapiente illo neque aperiam numquam a reiciendis alias asperiores? Animi fuga quibusdam accusantium quasi illo cum laboriosam quas doloribus?</p>
            <button>Inscribite</button>
            <div class="social-media">
                <div class="left-side"></div>
                <div class="logo-1"><ion-icon slot="start" color="light" name="logo-instagram"></ion-icon></div>
                <div class="right-side"></div>
            </div>
            
        </div>
    </div>

    <div class="section-desktop">
        <div class="overlay-clipped"></div>
        <div class="sd-content">
            <div class="sd-logo"><img src="../../../../../assets/images/MMR2022/MMR-Isotipo-Negativo.png" alt=""></div>
            <div class="title-container">
                <h2>Estas Listo Para la segunda Vuelta?</h2>
                <br><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aut rerum sapiente illo neque aperiam numquam a reiciendis alias asperiores? Animi fuga quibusdam accusantium quasi illo cum laboriosam quas doloribus?</p>
                <br>
                <button>Inscribite</button>
            </div>
        </div>
        
    </div>
</div>