* {
  margin: 0;
  box-sizing: border-box;
  max-height: 100vh;
  flex-direction: column;
  align-items: center;

}
h1 {
  color: var(--secondary);
  text-align: center;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  margin: .5rem 0px;
}



section {
  max-height: 90vh;
  min-height: 85vh;
  max-width: 400px;
  margin: 2px auto;
  background: var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  h3 {
    padding: 8px 4px;
    font-weight: 600;
    color: var(--primary);
  }
  .selection {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      width: 45%;
      align-items: flex-start;
      label {
        font-weight: 600;
        color: var(--primary);
        input {
          margin: 4px;
        }
      }
    }
  }

  .runner-input {
    height: 160px;
    width: 90%;

    form {
      margin: auto 0px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      input {
        height: 40px;
        width: 90%;
        padding: auto 8px;
        border-radius: 5px;
      }
      input[type="button"] {
        margin: 16px 0px;
        background: var(--primary);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      a, p {
        margin: 8px 0px;
        color: var(--primary);
        font-weight: 600;
      }
    }
  }
  .thanks {
    margin: 16px auto;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    h3 {
      font-weight: 600;
      color: var(--primary);
    }
    .logo {
      background: var(--primary);
      width: 100%;
      border-radius: 5px;
      img {
        max-height: 200px;
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    max-width: 360px;
  }
}
