<h1>Resultados</h1>
<section>
  <!-- <h3>Buscar por:</h3> -->
  <!-- <div class="selection">
    <div class="option-dni">
      <label>
        <input type="radio" name="dni-radio" checked (click)="check()">
        DNI
      </label>
    </div>
    <div class="option-rn">
      <label>
        <input type="radio" name="dni-radio" (click)="check()">
        Nro. Corredor
      </label>
    </div>
  </div> -->
  <div class="runner-input">
    <form action="submit">
      <input type="text" #rn placeholder="Nro. Corredor">
      <input type="button" value="Buscar" (click)="navigateResult()">
      <a href="../../assets/files/mmrun23_RESULTADOS.pdf" target="_blank" rel="noopener noreferrer">Ver todos</a>
      <p>TIP: Podes capturar la pantalla y compartir tu resultado en las redes!</p>
    </form>
  </div>
  <div class="thanks">
    <h3>Gracias por Participar</h3>
    <div class="logo">
      <img src="../../assets/images/MMR2022/Logo----Blanco-con-rosa-PNG.png" alt="">
    </div>
  </div>
</section>
