<div class="s2wrapper">
    <div class="contentd">
        <h2>{{sec2Title}}</h2>
        <p>{{sec2Text1}}</p>
        <p>{{sec2Text2}}</p>
        <div class="stats">
            <div class="stat runners">
                <div class="total"><h2>400+</h2></div>
                <p>Corredores</p>
            </div>
            <div class="stat circuitos">
                <div class="total"><h2>4+</h2></div>
                <p>Circuitos</p>
            </div>
            <div class="stat categorias">
                <div class="total"><h2>6+</h2></div>
                <p>Categorias</p>
            </div>
        </div>
    </div>
    <div class="img-c">
        <div class="picture"></div>
        <div class="img-overlay"></div>
    </div>
</div>

