<div class="s2wrapper">
    <div class="contentd">
        <h2>El Movimiento es Salud</h2>
        <strong>La carrera se desarrolla dentro de la villa del Lago Mari Menuco y sus
            alrededores.</strong>
        <p>La ruta de la segunda edición te llevará a través de un recorrido pintoresco y
            desafiante. Iniciando en el corazón de la villa, te adentrarás en hermosos senderos
            naturales, atravesaras acantilados y vas a poder disfrutar de las vistas panorámicas
            del Lago Mari Menuco.</p>
        <p>Contaremos con distancias para todos los niveles 5k, 10k y 21k , para los mas
            chicos la categoria KIDS. Y este año decidimos sumar una caminata gratuita a
            cambio de un alimento no perecedero para visibilizar la lucha contra el
            sedentarismo y el hambre.</p>
        <div class="stats">
            <div class="stat runners">
                <div class="total"><h2>400+</h2></div>
                <p>Corredores</p>
            </div>
            <div class="stat circuitos">
                <div class="total"><h2>4+</h2></div>
                <p>Circuitos</p>
            </div>
            <div class="stat categorias">
                <div class="total"><h2>6+</h2></div>
                <p>Categorias</p>
            </div>
        </div>
    </div>
    <div class="img-c">
        <div class="picture"></div>
        <div class="img-overlay"></div>
    </div>
</div>

