.s2wrapper {
    min-height: 100vh;
    h2 {
        margin: 8px;
        color: #fff;
        font-size: 2em;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-weight: 800;
        font-style: italic;
    }
    p {
        margin-top: 16px;
        font-size: 1.2em;
        color: white;

    }
    .stats {
        margin: 32px 0px;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        .stat {
            border-radius: 10px;
            height: 100px;
            width: 110px;
            background: var(--secondary);
            opacity: 0.8;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .total {
                margin: 0;
                h2 {
                    margin: 0;
                    color: var(--primary);
                }
            }
            p {
                margin: 0;
                font-size: 1.1em;
                color: var(--primary);
            }
        }
    }

    .img {
        display: none;
    }

    .imaged {
        display: none;
    }

}

@media (min-height: 800px){
    .s2wrapper {
        min-height: 70vh;
        max-height: 80vh;
        
    }
}

@media (min-width: 800px){
    .s2wrapper {
        z-index: 999;
        min-height: 50vh;
        max-height: 70vh;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        padding: 8px 48px;
        .stats {
            height: 136px;
            padding: 0px 48px;
            .stat {
            height: 132px;
            width: 132px;
        }
        }
        
        .contentd {
            max-width: 60%;
            padding: 32px 32px;
        }

        .img-c {
            min-width: 40%;
            width: 40%;
            background-image: url(../../../../assets/images/MMR2022/png1.png);
            background-position: start;
            background-repeat: no-repeat;
            transform: scale(1.6) translateX(-90px) translateY(80px);
            opacity: 0.6;

            .imaged {
            position: absolute;
            min-width: 800px;
            height: 100vh;
            clip-path: polygon(65% 53%, 100% 0, 100% 100%, 0% 100%);
            background: var(--secondary);
        }
        }
            
        
    }
}