<div class="wrapper">
    <div class="logo-container">
        <div class="img-container">
            <img src="../../../../assets/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <h3>Ingresa con tus datos</h3>
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" id="username" formControlName="username" placeholder="Usuario">
                <input type="password" id="password" formControlName="password" placeholder="Contraseña">
                <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
            </form>
        </div>
    </div>
</div>