<div class="wrapper">
    <div class="logo-container">
        <div class="img-container">
            <img src="../../../../assets/images/MMR2022/MMR-Isotipo-Negativo.png" alt="">
        </div>
    </div>
    <div class="form-container">
        <div class="title">
            <h3>Ingresa con tus datos</h3>
        </div>
        <div class="form-container">
            <form action="submit" (ngSubmit)="goToDashboard()">
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contrasena">
                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
</div>