@import url('../../styles.scss');

.wrapper {
    height: 100vh;
    width: 100%;
    background: var(--secondary);
    mat-sidenav-container {
        mat-sidenav {
            background: var(--lighter25);
            width: 300px;
            border-radius: 8px;
            .logo-container {
                border-radius: 8px;
            }
            .items {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 32px 8px;
                .item {
                    margin: 4px 0px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 40px;
                    background: var(--secondary);
                    border-radius: 8px;
                    padding: 8px; 
                    color: var(--primary);
                    font-weight: 600;
                    .icon {
                        height: 100%;
                        width: 20%;
                        align-items: center;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        ion-icon {
                            width: 80%;
                            height: 80%;
                        }
                    }
                    .item-name {
                        align-items: center;
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        text-align: flex-start;
                    }

                }
                .item:hover {
                    transform: scale(1.05);
                }
            }
        }
        mat-sidenav-content {
            background: var(--lighter25);
            
            .content-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100vh;
                width: 100%;
                .navbar {
                    height: 60px;
                    width: 100%;
                    background: var(--secondary);
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding: 4px 16px;
                    color: var(--primary);
                    .title {
                        ion-icon {
                            height: 50px;
                            width: 50px;
                        }
                    }

                }
                .content {
                    height: 90%;
                    width: 100%;
                    padding: 16px;
                    .panel {
                        width: 100%;
                        height: 100%;
                        background: var(--secondary);
                        border-radius: 8px;
                        padding: 16px;
                    }
                }
            }
        }
    }
}