/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #461D6C;
    --lighter25: #582487;
    --secondary: #00FABA;
    --opposite: #b9e293;
    --black1: #222;
    --black2: #262626;
    --grey: #ccc;
    --white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: var(--primary);
}