<div class="m-header">
    <app-toolbar></app-toolbar>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" style="height: 100%;" [opened]="opened">
        <div class="sidebar-wrapper" >
            <div class="nav-title">
                <h2>MMRun 2.0</h2>
            </div>
            <div class="nav-item" *ngFor="let item of menu_cats" (click)="onSelect()">
                <div class="icon"><ion-icon slot="start" name="{{item.icon}}"></ion-icon></div>
                <div class="section-name">{{item.title}}</div>
            </div>
            <br><br>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        
        
        <div class="parallax-wrapper">
            <app-header id="sec1"></app-header>

            <app-info-screen></app-info-screen>


            
        </div>
        
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>