<div class="m-header">
    <app-toolbar></app-toolbar>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" style="height: 100%;" [opened]="opened">
        <div class="sidebar-wrapper" >
            <div class="nav-title">
                <h2>MMRun 2.0</h2>
            </div>
            <div class="nav-item" *ngFor="let item of menu_cats" (click)="onSelect(item.route)">
                <div class="icon"><ion-icon slot="start" name="{{item.icon}}"></ion-icon></div>
                <div class="section-name">{{item.title}}</div>
            </div>
            <br><br>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        
        
        <div class="parallax-wrapper">
            <app-header id="sec1"></app-header>

            <div class="section-2" id="sec2">
                <div class="separator"></div>
                <div class="section2-content">
                    <app-sec2content></app-sec2content>
                    <div  class="sec-categorias">
                        <div class="overlay"></div>
                        <div class="card-container">
                            <app-circuit-card></app-circuit-card>
                        </div>
                    </div>
            
                    <div id="regForm" class="register-form">
                        <div class="form-wrapper">
                            <div class="overlay"></div>
                            <div class="side-panel">
                                <div class="side-img"></div>
                            </div>
                            <div class="form-content">
                                <app-form></app-form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="resources">
                <div class="r-content">
                    <h2>Descargas</h2>
                    <ul>
                        <li *ngFor="let document of resources">
                            <div class="file-container">
                                <a [href]="document.url" target="_blank" rel="noopener noreferrer">
                                    <div class="icon"><ion-icon name="document-outline"></ion-icon></div>
                                    <div class="file-name">{{document.title}}</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="side-pic"></div>
            </div>

            <div class="sponsors">
                <div class="footer">
                    <p>Mari Menuco Run ®™ 2023. Todos los derechos Reservados</p>
                    <div class="dev-by">
                        <div class="rocket" style="font-size: 1.2em;">
                            <ion-icon name="rocket-outline" size="large"></ion-icon>
                        </div>
                        <p>Desarrollado con<strong> ♡ </strong>por <strong style="font-family: 'Rubik', sans-serif !important;">HVDevs</strong>, Patagonia Argentina</p>
                    </div>
                </div> 
                <div class="overlay"></div>
                
                <div class="swiper-sponsors">
                    <h2>Sponsors</h2>
                    <div class="swiper-container0">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let url of sponsors1">
                                <div class="sponsor-logo">
                                    <img src="{{url}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>     
                </div>
                <div class="swiper-sponsors">
                    <h2>Acompañan</h2>
                    <div class="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" *ngFor="let url of sponsors2">
                                <div class="sponsor-logo">
                                    <img src="{{url}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
             
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
