<div class="m-header">
    <app-toolbar></app-toolbar>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" style="height: 100%;" [opened]="opened">
        <div class="sidebar-wrapper" >
            <div class="nav-title">
                <h2>MMRun 2.0</h2>
            </div>
            <div class="nav-item" *ngFor="let item of menu_cats" (click)="onSelect()">
                <div class="icon"><ion-icon slot="start" name="{{item.icon}}"></ion-icon></div>
                <div class="section-name">{{item.title}}</div>
            </div>
            <br><br>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        
        
        <div class="parallax-wrapper">
            <app-header id="sec1"></app-header>

            <div class="section-2" id="sec2">
                <div class="separator"></div>
                <div class="section2-content">
                    <h2>Vuelve la segunda edicion de la carrera</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quasi sequi laboriosam nam culpa nobis reiciendis ullam corrupti, impedit eos eum ad numquam. Accusantium reprehenderit necessitatibus voluptatibus inventore illum ut?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quasi sequi laboriosam nam culpa nobis reiciendis ullam corrupti, impedit eos eum ad numquam. Accusantium reprehenderit necessitatibus voluptatibus inventore illum ut?</p>
                    <div class="stats">
                        <div class="stat runners">
                            <div class="total"><h2>400+</h2></div>
                            <p>Corredores</p>
                        </div>
                        <div class="stat circuitos">
                            <div class="total"><h2>4+</h2></div>
                            <p>Circuitos</p>
                        </div>
                        <div class="stat categorias">
                            <div class="total"><h2>6+</h2></div>
                            <p>Categorias</p>
                        </div>
                    </div>
                    <div class="sec-categorias">
                        <div class="overlay"></div>
                        <div class="card-container">
                            <swiper-container slides-per-view="1" pagination="true" navigation="true">
                                <swiper-slide *ngFor="let _card of cardCat">
                                    <div class="card">
                                        <div class="title"><h2>{{_card.title}}</h2></div>
                                        <div class="list">
                                            <ul>
                                                <li><strong>Largada:</strong> <br>{{_card.largada}}</li>
                                                <li><strong>Kit Corredor:</strong><br> {{_card.kit_corredor}}</li>
                                                <li><strong>Categorias:</strong><br> {{_card.categorias}}</li>
                                                <li><strong>Circuito:</strong><br> {{_card.circuito}}</li>
                                            </ul>
                                        </div>
                                        <div class="btn-container">
                                            <button>Inscribirse</button>
                                        </div>
                                    </div>
                                </swiper-slide>
                            </swiper-container>
                        </div>
                    </div>
            
                    <div class="register-form">
                        <div class="form-wrapper">
                            <div class="overlay"></div>
                            <div class="form-content">
                                <div class="form-title">
                                    <h2>Formulario de inscripcion</h2>
                                </div>
                                <div class="form-section">
                                    <h3>Elije un circuito</h3>
                                </div>
                                <div class="circ-field">
                                    <select name="circ" id="circ">
                                        <option *ngFor="let item of catPrices" value="item.name">{{item.name}}</option>
                                    </select>
                                </div>
                                <div class="form-section">
                                    <h3>Datos Personales</h3>
                                </div>
                               <form [formGroup]="formGroup">
                                    <input type="text" placeholder="Nombre" formControlName="name">
                                    <input type="text" placeholder="Apellido" formControlName="lastname">
                                    <input type="email" placeholder="email@email.com" formControlName="email">
                                    <select name="genre" id="genre">
                                        <option value="Femenino">Femenino</option>
                                        <option value="Masculino">Masculino</option>
                                    </select>
                                    <input type="text" placeholder="Fecha de Nacimiento" onblur="(this.type='text')" onfocus="(this.type='date')">
                               </form>
                            </div>
                            <div class="buttons"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <router-outlet></router-outlet> 
        
        
    </mat-sidenav-content>
</mat-sidenav-container>