@import '/src/styles.scss';

.m-header {
    z-index: 999;
    position: fixed;
    width: 100%;
    
};

mat-sidenav-container {
    mat-sidenav {
        padding: 8px;
        .sidebar-wrapper {
            margin-top: 60px;
            width: 350px;
            max-width: 80%;
            padding: 16px 8px;
            background: var(--secondary);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0.9;
            .nav-title {
                h2 {
                    font-weight: bolder;
                    text-transform: uppercase;
                    font-style: italic;
                    color: var(--primary);
                }
                margin: 8px 0px;
            }
            .nav-item {
                margin: 2px 0px;
                padding: 0px 16px;
                height: 40px;
                width: 100%;
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                background: var(--primary);
                .icon {
                    margin: auto 0px;
                    color: var(--white);
                    ion-icon {
                        height: 32px;
                        width: 32px;
                    }
                }
                .section-name {
                    width: 100%;
                    color: white;
                    font-size: 1.4em;
                    font-weight: 600;
                    padding: 0px 16px;
                    margin: auto 0px;
                }
            }

        }
    }
    mat-sidenav-content {
        .parallax-wrapper {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            justify-content: start;
            text-align: center;
            display: flex;
            flex-direction: column;
            // perspective: 1px;
            transform-style: preserve-3d;
        
            .section-1, .section-2 {
                width: 100%;
                transform-style: preserve-3d;
            }

            .section-2 {
        
                background: transparent;
                padding: 16px 0px;
                margin: 0;
        
                .separator {
                    height: 100px;
                    width: 100%;
                    background: #323232;
                    -webkit-clip-path: polygon(0 0, 11% 81%, 100% 0, 100% 100%, 0 100%);
                    clip-path: polygon(0 0, 20% 85%, 100% 0, 100% 100%, 0 100%); 
                    transform: translateY(2px);
                }
        
                .section2-content {
                    border-top: solid 2px #323232;
                    padding: 8px 16px;
                    width: 100%;
                    height: 80vh;
                    background-color: #323232;
                    h2 {
                        margin: 8px;
                        color: #fff;
                        font-size: 2em;
                        margin-bottom: 8px;
                        text-transform: uppercase;
                        font-weight: 800;
                        font-style: italic;
                    }
                    p {
                        margin-top: 16px;
                        font-size: 1.2em;
                        color: white;
        
                    }
                }
                
            }

        }        
    }
}

@media (min-width: 800px) {
    mat-sidenav-content {
        .parallax-wrapper {
            .section-2 {
                padding: 0px !important;
                .separator {
                    display: none;
                }
                
            }
        }
    }
}


