@import '/src/styles.scss';

.m-header {
    z-index: 999;
    position: fixed;
    width: 100%;
    
    
};

mat-sidenav-container {
    mat-sidenav {
        background: var(--primary);
        padding: 8px;
        width: 320px;
        opacity: 0.9;
        .sidebar-wrapper {

            margin-top: 60px;
            width: 100%;
            padding: 16px 8px;
            background: var(--secondary);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .nav-title {
                h2 {
                    font-weight: bolder;
                    text-transform: uppercase;
                    font-style: italic;
                    color: var(--primary);
                }
                margin: 8px 0px;
            }
            .nav-item {
                margin: 2px 0px;
                padding: 0px 16px;
                height: 40px;
                width: 100%;
                display: flex;
                flex-direction: row;
                border-radius: 5px;
                background: var(--primary);
                .icon {
                    margin: auto 0px;
                    color: var(--white);
                    ion-icon {
                        height: 32px;
                        width: 32px;
                    }
                }
                .section-name {
                    width: 100%;
                    color: white;
                    font-size: 1.4em;
                    font-weight: 600;
                    padding: 0px 16px;
                    margin: auto 0px;
                }
            }

        }
    }
    mat-sidenav-content {
        .parallax-wrapper {
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            justify-content: start;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: absolute;
        
            .section-1, .section-2 {
                width: 100%;
                transform-style: preserve-3d;
            }
            .section-2 {
        
                background: transparent;
                padding: 16px 0px;
                margin: 0;
                // position: absolute;
            
                .separator {
                    height: 100px;
                    width: 100%;
                    background: #323232;
                    -webkit-clip-path: polygon(0 0, 11% 81%, 100% 0, 100% 100%, 0 100%);
                    clip-path: polygon(0 0, 20% 85%, 100% 0, 100% 100%, 0 100%); 
                    transform: translateY(2px);
                }
            
                .section2-content {
                    border-top: solid 2px #323232;
                    padding: 8px 16px;
                    width: 100%;
                    height: 350vh;
                    background-color: #323232;
                    .sec-categorias {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        clip-path: polygon(50% 9.72%, 0% 0%, 0% 93.2%, 30% 85.7%, 73.29% 87.71%, 100% 85.7%, 100% 5.95%);
                        background-color: var(--primary);
                        background-image: url('https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        position: relative;
                        height: 100vh;
                        width: 110%;
                        transform: translateX(-20px);
                        .overlay {
                            position: absolute;
                            background-color: var(--secondary);
                            opacity: 0.80;
                            height: 100%;
                            width: 100%;
                        }
            
                        .card-container {
                            position: absolute;
                            z-index: 999;
                            height: 70%;
                            width: 100%;
                            background: transparent;
                            padding: 0px 8px;
                        }
                    }
            
                    // register form
            
                    .register-form {
                        background: var(--primary);
                        background-image: url('https://images.pexels.com/photos/39308/runners-silhouettes-athletes-fitness-39308.jpeg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 165vh;
                        width: 100%;
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 15px;
                        transform: translateY(-50px);
                        padding: 0px;
                        border: 1px solid var(--lighter25);
                        .form-wrapper {
                            position: relative;
                            min-height: 100%;
                            display: flex;
                            flex-direction: column;
                            .overlay {
                                border-radius: 15px;
                                position: relative;
                                background: var(--primary);
                                opacity: 0.95;
                                width: 100%;
                                height: 100%;
                                z-index: 998;
                            }
                            .form-content {
                                z-index: 999;
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                width: 100%;
                                height: 100%;
                                border-radius: 0px 15px 15px 0px;  
                            }
                        }
            
                    }
                }
                
            }

        }        
    }
}


@media (min-width: 360px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 360vh;
                    }
                }
            }
        }
    }
}

@media (min-width: 390px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 310vh;
                        .register-form {
                            max-height: 125vh;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 410px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 290vh;
                        .register-form {
                            max-height: 120vh;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 413px) and (max-width: 475px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 290vh;
                        .register-form {
                            max-height: 150vh;
                        }
                        
                    }
                }
            }
        }
    } 
}

@media (min-width: 413px) and (max-width: 475px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 290vh;
                        .register-form {
                            max-height: 150vh;
                        }
                        
                    }
                }
            }
        }
    } 
}



@media (min-width: 800px) {
    mat-sidenav-content {
        .parallax-wrapper {
            .section-2 {
                padding: 0px !important;
                .separator {
                    display: none;
                }
                .section2-content {
                    max-height: 250vh;
                    h2 {
                        margin-top: 40px;
                    }
                    .sec-categorias {
                        
                        background-size: cover;
                       
                        .card-container {
                            width: 100%;
                            swiper-container {
                                swiper-slide {
                                    display: flex;
                                    justify-content: center;
                                    .card {
                                        width: 100%;
                                        .title {
                                            h2 {
                                                margin: 10px 0px;
                                            }
                                            
                                        }
                                        .btn-container {
                                            button {
                                                width: 40%
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .register-form {
                        background-position: left;
                        background-size: cover;
                        .overlay {
                            display: none;
                        }
                        .form-wrapper {
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            .side-panel {
                                display: flex;
                                z-index: 1999;
                                padding: 0px 0px;
                                flex-direction: column;
                                height: 100%;
                                width: 30%;
                                background: var(--secondary);
                                opacity: 0.85;
                                border: 1px solid var(--lighter25);
                                border-radius: 15px 0px 0px 15px;
                                .side-img {
                                    width: 100%;
                                    height: 100%;
                                    background-image: url(../../assets/images/MMR2022//png3.png);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    opacity: 0.75;
                                }
                            }
                            .form-content {
                                position: relative;
                                right: 0;
                                max-width: 70%;
                                background: var(--primary);
                                padding: 0px 5%;
                                
                            }

                        }
                    }
                }
        
                
            }

        }
    }
}

@media (min-width: 1440px) {
    mat-sidenav-content {
        .parallax-wrapper {
            .section-2 {
                .section2-content {
                    max-height: 300vh;
                    .register-form {
                        height: 150vh;
                        .form-wrapper {
                            .side-panel {
                                padding: 0px 0px;
                                .side-img {
                                    width: auto;
                                    height: 100%;
                                }
                            }
                            .form-content {
                                position: relative;
                                right: 0;
                                max-width: 70%;
                                background: var(--primary);
                                padding: 0px 5%;
                                
                            }

                        }
                    }
                }            
            }
        }
    }
}

@media (min-width: 1700px) {
    mat-sidenav-container {
        mat-sidenav-content {
            .parallax-wrapper {
                .section-2 {
                    .section2-content {
                        height: 290vh;
                        .register-form {
                            max-height: 140vh;
                        }
                    }
                }
            }
        }
    }

}

